html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Helvetica";
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    background-color: beige;
    padding: 0.5rem;
}

h3::after {
    width: 80%;
    height: 5rem;
    background-color: red;
}

div {
    outline: 1px solid black;
    min-height: 2rem;
}

body .main-container {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-around;
}

@media(max-width: 900px) {
    body div {
        flex-direction: column;
        padding: 0 1rem 0 1rem;
    }
}

header {
    background-image: url(assets/developer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
}

a {
    color: white;
}

header .navigation-menu {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

header div {
    font-size: 2rem;
}

.navigation-menu ul {
    font-size: 1rem;
    list-style: none;
    display: flex;
}

ul li {
    margin-right: 1rem;
}

@media(max-width: 900px) {
    header .navigation-menu {
        flex-direction: column;
        text-align: center;
    }
}

.header-content {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.header-content img {
    width: 100%;
}

.side-panel {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.main-panel {
    width: 70%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 900px) {
    .side-panel {
        width: 100%;
    }

    .main-panel {
        width: 100%;
    }
}